백준 8393 합

In [1]:
a = int(input('정수를 입력하세요: '))

정수를 입력하세요: 3

In [2]:
print(a)

3

In [3]:
type(a)

int

In [9]:
# 1부터 n까지 합을 출력
# for 문 사용하기

In [7]:
a = int(input())
sum = 0
for i in range(0, a+1):
  sum += i

print(sum)

3
6

In [10]:
# 다른방법으로 풀어보기
# n * (n+1) /2

In [13]:
a = int(input())
sum = a * (a+1) / 2
print(int(sum)) # 강제 형변환 : 컴퓨터가 임의로 타입을 바꿨을 때, 코더가 원하는 타입으로 바꾸는 것

3
6

백준 문제 1000

In [27]:
# int().split('구분자'): 한 줄에 여러 개의 정수가 있을 때 리스트로 받는다.
# map(자료형, 데이터)

In [32]:
l = [int(x) for x in input().split(' ')]

sum = 0
for x in l:
  sum += x

print(sum)

1 2
3

백준 1330번

In [35]:
a, b = map(int, input().split(' '))

if a > b :
  print(">")
elif a < b :
  print("<")
else:
  print("==")

1 2
<

백준 15953번 = 카카오 페스티벌 1번문제

In [39]:
T = int(input())
for i in range(0, T, 1):
  a, b = map(int, input().split(' '))

  sum = 0
  if a == 0 :
    sum += 0
  elif a == 1:
    sum += 500
  elif a < 4 :
    sum += 300
  elif a < 7 :
    sum += 200
  elif a < 11 :
    sum += 50
  elif a < 16 :
    sum += 30
  elif a < 22 :
    sum += 10
  else :
    sum += 0
  
  if b == 0 :
    sum += 0
  elif b == 1 :
    sum += 512
  elif b < 4 :
    sum += 256
  elif b < 8 :
    sum += 128
  elif b < 16 :
    sum += 64
  elif b < 32 :
    sum += 32
  else :
    sum += 0
  
  print(sum * 10000)

6
8 4
1780000
13 19
620000
8 10
1140000
18 18
420000
8 25
820000
13 16
620000

While문 사용해보기
* 백준 10952번

In [41]:
while True:
  a, b = map(int, input().split(' '))
  if a != 0 and b != 0 :
    print( a + b )
  else :
    break

1 1
2
2 3
5
3 4
7
0 0